header .navBtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 100px;
  z-index: 100;
}

header .navBtn:hover {
  cursor: pointer;
}

header .navBtn ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .navBtn ul .navBtnLine {
  width: 60px;
  height: 8px;
  background-color: #0d5717;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navBtnCross ul .navBtnLine {
  background-color: black;
  margin-bottom: 0px;
}

header .navBtnCross ul .navBtnLine1 {
  position: absolute;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navBtnCross ul .navBtnLine2 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 600px) {
  header .navBtn {
    width: 100px;
    height: 80px;
  }
  header .navBtn ul .navBtnLine {
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
  }
}

header nav {
  position: fixed;
  width: 100%;
  right: -100%;
  z-index: 99;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header nav .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .navFlex ul {
  background-color: #bfda42;
  width: 400px;
  height: 100vh;
  padding-top: 150px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

header nav .navFlex ul li:hover {
  background-color: #0b3042de;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .navFlex ul li:hover a {
  color: #fff;
}

header nav .navFlex ul li a {
  display: block;
  width: 100%;
  padding: 30px 0px 30px 50px;
  font-size: 24px;
  color: #0e394e;
}

@media screen and (max-width: 600px) {
  header nav {
    right: -50px;
  }
  header nav .navFlex ul {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

header .navHidden {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  width: 100%;
  right: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header .navHidden .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navHidden .navFlex ul {
  background-color: #bfda42;
  width: 400px;
  height: 100vh;
  padding-top: 150px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

header .navHidden .navFlex ul li a {
  display: block;
  width: 100%;
  padding: 30px 0px 30px 50px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  header .navHidden .navFlex ul {
    width: 100%;
  }
}
/*# sourceMappingURL=nav.css.map */